:root {
    --bg:       #282828 ;
    --bg1:      #32302f ;
    --fg:       #ebdbb2 ;
    --red:      #cc241d ;
    --green:    #98971a ;
    --yellow:   #d79921 ;
    --blue:     #458588 ;
    --purple:   #b16286 ;
    --aqua:     #689d6a ;
    --orange:   #d65d0e ;
}
body {
    background-color: var(--bg) ;
    color: var(--fg) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left ;
    margin-left: 15% ;
    margin-top: 3% ;
    margin-right: 15% ;
}
a {
    color: var(--fg) ;
}
details summary::marker {
    font-size: 1.5rem ;
    color: var(--orange) ;
    /*content: " " ;*/
}
details summary {
    cursor: pointer ;
}
div.table {
    margin-top: 10px ;
    margin-bottom: 10px ;
    display: table ;
    border-collapse: collapse ;
    width: 100% ;
}
div.row {
    display: table-row ;
}
div.input-cell,
div.cell {
    vertical-align: middle ;
    display: table-cell ;
    border: 1px solid ;
}
div.cell {
    padding: 5px ;
    padding-bottom: 0px ;
    height: 100%
}
textarea,
input[type=submit],
input[type=button],
input[type=text] {
    border: 0px solid ;
    background-color: var(--bg1) ;
    color: var(--fg);
    font-size: 100% ;
}
textarea:focus {
    outline: none !important ;
    box-shadow: 0 0 10px var(--orange) ; 
}
textarea {
    font-size: 1rem ;
    resize: none ;
    width: 100% ;
    height: 10em ;
}
input[type=submit],
input[type=button] {
    border: 1px solid ;
    margin-top: 10px ;
    margin-bottom: 10px ;
    cursor: pointer ;
}
input[type=text] {
    border: 0px ;
    width: 100% ;
}
#back, #save {
    margin-top: auto ;
    margin-bottom: auto ;
}
.leftright {
    display: flex ;
    width: 100% ;    
    justify-content: space-between ;
}
