<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <title>Editiere Queries</title>
    <!-- CSS einbinden, um den Style der Seite zu definieren -->
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>

<body>
    <h1>Editiere Query</h1>

    <form action="/edit/{{ i }}" method="POST">

    <div class="leftright">
        <a id="back" href="/">zurück</a>
        <p>in queries2.config <input id="save" type="submit" value="speichern">
    </div>


    <div class="table">
        {% for key,val in query.items() %}
        <div class="row">
            <div class="cell">{{ key }}</div>
            <div class="input-cell">
            {% if key in ['query','parameter','timer'] %}
                <textarea class="{{ key }}" name="{{ key }}">{{ val }}</textarea>
            {% elif key == 'DBMS' %}
                <textarea class="{{ key }}" name="{{ key }}">{{ val }}</textarea>
                <!-- {% for k,v in query['DBMS'].items() %} -->
                <!--     <div class="input-cell"> -->
                <!--         <input type="text" name="{{ k }}" value="{{ k }}"> -->
                <!--     </div> -->
                <!--     <div class="input-cell"> -->
                <!--         <input type="text" name="{{ v }}" value="{{ v }}"> -->
                <!--     </div> -->
                <!--     </br> -->
                <!-- {% endfor %} -->
            {% else %}
                <input type="text" name="{{ key }}" value="{{ val }}">
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    </form>
</body>

</html>
