<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <title>Queries</title>
    <!-- CSS einbinden, um den Style der Seite zu definieren -->
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>

<body>

    <h3>Kopf</h3>
    <div class="table">
    {% for key,val in data.items() %}
        {% if key != "queries" %}
            <div class="row">
                <div class="cell">{{ key }}</div>
                <div class="cell">{{ val }}</div>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <h3>queries</h3>
    {% for i in range(qlen) %}
    <details> <!-- details Versteckt Dictionaries im span -->
    <summary>{{ data["queries"][i]["title"] }}</summary>
    <span>
        </br><a href="/edit/{{ i }}">Bearbeiten</a>
        <!-- Tabelle für jedes Dictionary -->
        <div class="table">
            {% for key,val in data["queries"][i].items() %}
            <div class="row">
                <div class="cell">{{ key }}</div>
                <div class="cell">{{ val }}</div>
            </div>
            {% endfor %}
        </div>
    </span>
    </details>
    {% endfor %}

</body>
</html>
